
mixin meta-tags(title1, titleProject1, keywords, description, author, applicationName, SetCharset, domain, twitter)
	//- title=title1+' - '+titleProject1
	meta(name="keywords",
		content=keywords)
	meta(name="description", 
		content=description)
	meta(name="author", 
		content=author)
	meta(name="application-name", 
		content=applicationName)
	meta(http-equiv="X-UA-Compatible", 
		content="IE=edge")
	meta(http-equiv="content-type", 
		content="text/html; charset="+ SetCharset +"")
	meta(charset=SetCharset )
	meta(http-equiv="content-language", 
		content="ru")
	meta(http-equiv="Content-Style-Type", 
		content="text/css")
	//- meta(name='viewport', 
		content='width=device-width, initial-scale=1, maximum-scale=1')
	//- meta(name='viewport', 
		content="width=device-width, initial-scale=1")
	meta(name="viewport",
		content="width=device-width, initial-scale=1, shrink-to-fit=yes")
	meta(http-equiv='X-UA-Compatible', 
		content='IE=edge')
	//- og
	meta(property="og:type",
		content="website")
	meta(property="og:site_name",
		content=applicationName)
	meta(property="og:url",
		content="https://"+ domain)
	meta(property="og:title",
		content=title+' - '+titleProject)
	meta(property="og:image:height",
		content="300")
	meta(property="og:image:width",
		content="420")
	meta(property="og:image",
		content=faviconPath+"favicon-128.png")
	meta(property="og:description",
		content=description)
	//- twitter
	meta(name="twitter:card",
		content="summary_large_image")
	meta(name="twitter:site",
		content='@'+twitter)
	meta(name="twitter:creator",
		content='@'+twitter)
	meta(name="twitter:domain",
		content="https://"+ domain)
	meta(name="twitter:title",
		content=title+' - '+titleProject)
	meta(name="twitter:description",
		content=description)
	meta(name="twitter:image",
		content=faviconPath+"favicon-128.png")